.l-wrap {
  overflow-x: hidden;
  width: 100%;

  &__contents {
    max-width: 2500px;
    margin: 0 auto;
  }

  &__main {
    background: #fff;
    position: relative;
    z-index: 0;
  }

  &__background--white {
    background-color: rgba(255, 255, 255, 0.7) !important;
    background-blend-mode: lighten;
    background: url(/assets/images/bg_white.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 0.5rem);
    height: calc((calc(var(--vh, 1vh) * 100)) - 0.5rem);
    position: fixed;
    top: .5rem;
    left: 0;
    opacity: 1;
  }

  &__background--black {
    background: url(/assets/images/bg_black.png);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 0.5rem);
    height: calc((calc(var(--vh, 1vh) * 100)) - 0.5rem);
    position: fixed;
    top: .5rem;
    left: 0;
    opacity: 0;
  }
}