.p-article {
  background: #2C2C2C;
  padding: 0 0 4.8rem 0;

  @include sp {
    background: #2C2C2C;
    padding: 0 0 0.8rem 0;
  }

  &__contents {
    margin: 0.8rem 0 0 0;

    @include sp {
      margin: 0.5rem 0 0 0;
    }
  }

  &__inner {
    margin: 2rem auto 0;
    width: 82%;

    @include sp {
      margin: 0.52rem auto 0;
      width: 88%;
    }
  }

  &__date {
    color: #fff;
    font-size: .18rem;
    letter-spacing: .03rem;
    font-weight: 100;

    @include sp {
      color: #fff;
      font-size: .1rem;
      letter-spacing: .03rem;
      font-weight: 100;
    }
  }

  &__title {
    color: #fff;
    font-size: .24rem;
    letter-spacing: .046rem;
    margin: 0.17rem 0 0 0;
    line-height: 1.5;

    @include sp {
      color: #fff;
      font-size: .14rem;
      letter-spacing: .046rem;
      margin: 0.1rem 0 0 0;
      line-height: 1.4;
    }
  }

  &__text {
    color: #fff;
    font-size: .2rem;
    letter-spacing: .07rem;
    margin: 0.5rem 0 0 0;
    font-weight: 100;
    line-height: 1.9;

    @include sp {
      color: #fff;
      font-size: .13rem;
      letter-spacing: .02rem;
      margin: 0.6rem 0 0 0;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}