.p-concept {
  // background: url(/assets/images/bg_black.png);
  // background-size: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  // position: absolute;
  // top: 0;
  // left: 0;
  // opacity: 0;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.7rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: url(/assets/images/item03.png);
    background-size: cover;
    transform: translate(0 , 100%);

    @include sp {
      display: none;
    }
  }

  &__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;

    @include sp {
      height: auto;
      padding: 1.17rem 0.24rem 0;
    }
  }

  &__inner {
    width: 36%;
    margin: auto;
    transform: translate(-42%, 0);
    opacity: 0;

    @include sp {
      width: 100%;
      margin: auto;
      transform: none;
    }
  }

  &__logo {
    width: 1.35rem;

    @include sp {
      width: 1rem;
    }
  }

  &__head {
    font-size: .26rem;
    letter-spacing: .04rem;
    margin: 0.12rem 0 0 0;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;

    @include sp {
      font-size: .19rem;
      letter-spacing: .03rem;
      margin: 0.09rem 0 0 0;
      line-height: 1.5;
      font-weight: 500;
    }
  }

  &__textArea {
    margin: 0.5rem 0 0 0;
    transform: translate(0, 100px);
    opacity: 0;

    @include sp {
      margin: 0.2rem 0 0 0;
    }
  }

  &__text {
    line-height: 1.9;
    font-size: 0.2rem;
    letter-spacing: .001rem;
    color: #fff;

    @include sp {
      line-height: 2.05;
      font-size: 0.14rem;
      letter-spacing: .002rem;
    }

    &--under {
      line-height: 1.9;
      font-size: 0.2rem;
      letter-spacing: .001rem;
      margin: 0.4rem 0 0 0;
      color: #fff;

      @include sp {
        line-height: 2.05;
        font-size: 0.15rem;
        letter-spacing: .002rem;
        margin: 0.3rem 0 0 0;
      }
    }
  }
}