.p-contact {
  &__contents {
    width: 14rem;
    margin: 0.8rem auto 0;
    padding: 1.37rem 0 1.5rem 0;
  }

  &__head {
    color: #1F1816;
    font-size: .22rem;
    font-weight: 500;
    letter-spacing: .05rem;
  }

  &__form {
    margin: 1.2rem 0 0 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: .2rem;
    font-weight: 500;

    &--right {
      margin: 0 0 0 0.3rem;
    }

    &--textArea {
      margin: 0.5rem 0 0 0;
      display: block;
      font-size: .2rem;
      font-weight: 500;
    }
  }

  &__input {
    display: block !important;
    margin: 0.2rem 0 0 0 !important;
    width: 6.6rem !important;
    height: 0.6rem !important;
  }

  &__textArea {
    display: block !important;
    margin: 0.2rem 0 0 0 !important;
    width: 100% !important;
    min-height: 1rem !important;
    padding: .15rem;
  }

  &__submit {
    color: #fff;
    background: #2C2C2C;
    padding: 0.18rem 2rem;
    font-size: .2rem;
    margin: 0.6rem 0 0 0;
  }

  &__link {
    margin: 0.4rem 0 0 0;
    font-size: .2rem;
    text-decoration: underline;
    color: #4475F8;
  }
}