.p-feature {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include sp {
    height: auto;
    background: url(/assets/images/bg_black.png);
    background-size: cover;
  }

  &__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    @include sp {
      height: auto;
      // background: #2C2C2C;
      // background-size: cover;
    }
  }

  &__headArea {
    padding: 0 0 0 0.34rem;
    position: relative;

    @include pc {
      opacity: 1;
    }

    @include sp {
      padding: 0 0 0 0.2rem;
    }
  }

  &__head {
    color: #fff;
    margin: 0.25rem 0 0 0;
    font-size: .25rem;
    letter-spacing: .063rem;

    @include sp {
      color: #fff;
      margin: 0.17rem 0 0 0;
      font-size: .18rem;
      letter-spacing: .048rem;
    }
  }

  &__point {
    color: #fff;
    font-size: .17rem;
    letter-spacing: .015rem;

    @include sp {
      color: #fff;
      font-size: .14rem;
      letter-spacing: 0;
    }
  }

  &__text {
    color: #fff;
    font-size: .28rem;
    margin: 0.16rem 0 0 0;

    @include sp {
      color: #fff;
      font-size: .198rem;
      margin: 0.13rem 0 0 0;
    }
  }

  &__detail {
    color: #fff;
    font-size: .2rem;
    margin: 0.3rem 0 0 0;
    line-height: 1.78;

    @include sp {
      color: #fff;
      font-size: .13rem;
      margin: 0.2rem 0 0 0;
      line-height: 2.1;
      letter-spacing: .014rem;
    }
  }

  &__annotation {
    color: #fff;
    margin: 0.15rem 0 0 0;
    line-height: 1.9;
    font-weight: 100;
    transform: translate(-8%, 0) scale(.85);

    @include sp {
      color: #fff;
      margin: 0.05rem 0 0 0;
      line-height: 1.9;
      font-weight: 100;
      transform: none;
      font-size: .11rem;
      letter-spacing: .008rem;
    }
  }

  &__inner {
    width: 15.8rem;
    margin: 0 auto;

    @include sp {
      width: 100%;
      margin: 0.9rem auto 0;
      padding: 0.6rem 0 0.5rem;
    }
  }

  &__logo {
    width: 1.4rem;

    @include sp {
      width: 1rem;
    }
  }

  &__iconList {
    display: flex;
    justify-content: center;
    margin: 1.75rem 0 0 0;
    align-items: stretch;

    @include sp {
      display: block;
      margin: 0.85rem 0 0 0;
    }

    & li:nth-of-type(2) {
      & .p-feature__icon {
        width: 0.34rem;
        margin: 0 0 0 0.2rem;
        transform: translate(0, -0.015rem);

        @include sp {
          width: 0.25rem;
          margin: 0 0 0 0.2rem;
          transform: none;
        }
      }
    }

    & li:nth-of-type(3) {
      border: none;

      & .p-feature__icon {
        width: 0.6rem;
        transform: translate(0, 0.03rem);
        margin: 0 0 0 0.2rem;

        @include sp {
          margin: 0;
          transform: none;
        }
      }
    }
  }

  &__iconItem {
    width: calc(100% / 3);
    border-right: solid 0.1px #9999;
    padding: 0.6rem 0.4rem;
    position: relative;

    @include pc {
      opacity: 1;
      transform: translate(0, 100px);
    }

    @include sp {
      width: 89%;
      border-right: none;
      padding: 0 0 0.3rem 0;
      position: relative;
      border-bottom: solid 1px #9999;
      margin: 0 auto;
    }
  }

  &__icon {
    width: 0.85rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0.08rem;

    @include sp {
      width: 0.82rem;
      height: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
    }
  }
}