.p-hero {
  margin: 0.8rem 0 0 0;
  position: relative;

  @include sp {
    margin: 0.5rem 0 0 0;
  }

  &__contents {
    width: 100%;
    height: calc(100vh - 0.8rem);
    height: calc((calc(var(--vh, 1vh) * 100)) - 0.8rem);
    background: url(/assets/images/bg_white.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;

    @include sp {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81.8%;
    max-width: 1200px;

    @include sp {
      width: 100%;
    }
  }

  &__textArea {

    @include pc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + -4.5rem), -50%);
    }

    @include sp {
      width: 100%;
    }
  }

  &__logo {
    width: 2.7rem;

    @include sp {
      margin: 0 auto;
      width: 2.4rem;
    }
  }

  &__head {
    font-size: .35rem;
    margin: 0.3rem 0 0 0;
    letter-spacing: .04rem;
    white-space: nowrap;

    @include sp {
      font-size: 0.18rem;
      color: #fff;
      margin: 0.66rem 0 0 0;
      letter-spacing: .036rem;
      text-align: center;
      white-space: normal;
    }
  }

  &__text {
    font-size: .16rem;
    margin: 0.15rem 0 0 0;
    letter-spacing: .027rem;
    white-space: nowrap;

    @include sp {
      color: #fff;
      font-size: .1rem;
      margin: 0.1rem 0 0 0;
      letter-spacing: .027rem;
      text-align: center;
      white-space: normal;
    }
  }

  &__iconList {
    display: flex;
    margin: 0.53rem 0 0 0;
    align-items: stretch;
    justify-content: flex-start;

    @include sp {
      display: none;
    }

    & li:nth-of-type(2) {
      & .p-hero__icon {
        width: 0.245rem;
      }
    }

    & li:nth-of-type(3) {
      border: none;

      & .p-hero__icon {
        width: 0.65rem;
      }
    }
  }

  &__iconItem {
    border-right: solid 1px #1c1c1c;
    padding: 0 0.1rem 0.09rem 0.1rem;
  }

  &__icon {
    width: 0.4rem;
    margin: 0 auto;
    height: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__detail {
    font-size: .12rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: .02rem;

    &--sm {
      text-align: center;
      margin: 0.05rem 0 0 0;
      font-size: .1rem;
      letter-spacing: 0.02rem;
    }
  }

  &__button {
    border: solid 1px #1c1c1c;
    padding: 0.15rem 0.25rem;
    font-size: .155rem;
    margin: 0.3rem 0 0 0;
    transition: all .15s 0s linear;
    background: #1c1c1c;
    color: #fff;

    @include sp {
      border: solid 1px #fff;
      padding: 0.135rem 0.35rem;
      color: #fff;
      font-size: .1rem;
      margin: 0.38rem auto 0;
      display: block;
      transition: all .15s 0s linear;
    }

    &:hover {
      background: rgba(255, 255, 255, .2) !important;
      color: #1C1C1C !important;
      border: solid 1px #999 !important;
    }
  }

  &__itemView {
    width: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% + 4.2rem), 0);
    top: 2.8rem;

    @include sp {
      display: none;
    }
  }
}