.p-privacyPolicy {
  @include sp {
    padding: 0 0 0.5rem 0;
    margin: 0.5rem 0 0 0;
  }

  &__contents {
    width: 14rem;
    margin: 0.8rem auto 0;
    padding: 1.37rem 0 1.5rem 0;

    @include sp {
      width: 88%;
      margin: 0 auto;
      padding: 0.47rem 0 0 0;
    }
  }

  &__head {
    color: #1F1816;
    font-size: .22rem;
    font-weight: 500;
    letter-spacing: .05rem;

    @include sp {
      color: #1F1816;
      font-size: .12rem;
      font-weight: 500;
      letter-spacing: .022rem;
    }
  }

  &__text {
    font-size: .18rem;
    color: #2C2C2C;
    margin: 0.8rem 0 0 0;
    line-height: 1.9;
    font-weight: 400;

    @include sp {
      font-size: .12rem;
      color: #2C2C2C;
      margin: 0.5rem 0 0 0;
      line-height: 1.9;
      font-weight: 400;
    }
  }
}