// image slick カスタマイズ
#itemSlider .slick {
  &-list {
    width: 4.5rem !important;
    margin: 0 auto !important;

    @include sp {
      width: 2rem !important;
      margin: 0 auto 1.14rem !important;
    }
  }

  &-prev {
    top: 42.5%;
    left: -12%;
    z-index: 100;

    @include sp {
      top: 47%;
      left: -18%;
      z-index: 100;
    }

    &:before {
      content: '<' !important;
      font-size: .6rem !important;

      @include sp {
        content: '<' !important;
        font-size: .25rem !important;
      }
    }
  }

  &-next {
    top: 42.5%;
    right: -9%;
    z-index: 100;

    @include sp {
      top: 47%;
      right: -18%;
      z-index: 100;
    }

    &:before {
      content: '>' !important;
      font-size: .6rem !important;

      @include sp {
        content: '>' !important;
        font-size: .25rem !important;
      }
    }
  }

  &-dots {
    z-index: 4000 !important;
    bottom: -0.9rem !important;

    @include sp {
      z-index: 4000 !important;
      bottom: -0.43rem !important;
    }
  }
}

.slick-dots li button:before {
  font-size: 0.19rem !important;
  width: 0.2rem !important;
  height: 0.2rem !important;
  color: #999;

  @include sp {
    font-size: 0.1rem !important;
    width: 0.1rem !important;
    height: 0.1rem !important;
  }
}

.slick-dots li button {
  width: 0.2rem !important;
  height: 0.2rem !important;

  @include sp {
    width: 0.1rem !important;
    height: 0.1rem !important;
  }
}

.slick-dots li {
  width: 0.2rem !important;
  height: 0.2rem !important;
  margin: 0 0.15rem !important;

  @include sp {
    width: 0.1rem !important;
    height: 0.1rem !important;
    margin: 0 0.09rem !important;
  }
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

// spec slick カスタマイズ
#specSlider .slick {
  &-list {
    width: 100% !important;
    margin: 0 auto !important;
    overflow: visible;

    @include sp {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }
}

.p-slider {
  background: #2C2C2C;

  &__contents {
    padding: 1.5rem 0;
    position: relative;

    @include sp {
      padding: 0.8rem 0 1.15rem 0;
      position: relative;
    }
  }

  &__logo {
    width: 3.6rem;
    margin: 0 auto 0.75rem;

    @include sp {
      width: 2.3rem;
      margin: 0 auto 0.8rem;
    }
  }

  &__list {
    width: 4.5rem !important;
    margin: 0 auto !important;

    @include sp {
      width: 2rem !important;
      margin: 0 auto !important;
    }

    & li:nth-of-type(2n - 1) {
      & .p-slider__image {
        background: url(/assets/images/slider_item01.png);
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 3.9rem;
        height: 6.4rem;

        @include sp {
          background: url(/assets/images/slider_item01.png);
          background-position: center;
          background-size: contain;
          margin: 0 auto;
          background-repeat: no-repeat;
          width: 1.5rem;
          height: 2.6rem;
        }
      }
    }

    & li:nth-of-type(2n) {
      & .p-slider__image {
        background: url(/assets/images/slider_item01.png);
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 3.9rem;
        height: 6.4rem;

        @include sp {
          background: url(/assets/images/slider_item01.png);
          background-position: center;
          background-size: contain;
          margin: 0 auto;
          background-repeat: no-repeat;
          width: 1.5rem;
          height: 2.6rem;
        }
      }
    }

    & li:nth-of-type(3n) {
      & .p-slider__image {
        background: url(/assets/images/slider_item01.png);
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 3.9rem;
        height: 6.4rem;

        @include sp {
          background: url(/assets/images/slider_item01.png);
          background-position: center;
          background-size: contain;
          margin: 0 auto;
          background-repeat: no-repeat;
          width: 1.5rem;
          height: 2.6rem;
        }
      }
    }
  }

  &__textList {
    width: 100% !important;
    margin: 0 auto !important;
    position: absolute;
    top: 2.72rem;
    left: 0;

    @include sp {
      width: 100% !important;
      margin: 0 auto !important;
      position: relative;
      top: auto;
      left: auto;
    }
  }

  &__textInner {
    display: flex;
    justify-content: center;

    @include sp {
      display: block;
      justify-content: center;
      margin: 0.7rem 0 0 0;
    }
  }

  &__spec {
    padding: 0.95rem 0 0 0;
    width: 4rem;
    margin: 0;
    transform: translate(calc(-5.5rem + 50%), 0);

    @include sp {
      padding: 0;
      width: 100%;
      margin: 0;
      transform: none;
    }
  }

  &__specLogo {
    width: 1.41rem;

    @include sp {
      width: 1.35rem;
    }
  }

  &__label {
    color: #fff;
    margin: 0.15rem 0 0 0;
    font-size: .235rem;

    @include sp {
      color: #fff;
      margin: 0.1rem 0 0 0;
      font-size: .225rem;
    }
  }

  &__specText {
    color: #fff;
    margin: 0.4rem 0 0 0;
    font-size: .15rem;
    line-height: 1.95;
    position: relative;

    @include sp {
      color: #fff;
      margin: 0.75rem 0 0 0;
      font-size: .13rem;
      line-height: 1.85;
      position: relative;
      letter-spacing: 0.01rem;
    }

    &::before {
      content: '';
      height: 1px;
      width: 0.45rem;
      background: #fff;
      position: absolute;
      top: -0.15rem;
      left: 0;

      @include sp {
        content: '';
        height: 1px;
        width: 0.43rem;
        background: #fff;
        position: absolute;
        top: -0.2rem;
        left: 0;
      }
    }

    &::after {
      content: '';
      height: 1px;
      width: 0.45rem;
      background: #fff;
      position: absolute;
      bottom: -0.15rem;
      left: 0;

      @include sp {
        content: '';
        height: 1px;
        width: 0.43rem;
        background: #fff;
        position: absolute;
        bottom: -0.2rem;
        left: 0;
      }
    }
  }

  &__imageBench {
    display: flex;
    margin: 0.45rem 0 0 0;

    @include sp {
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  &__benchImage {
    width: 0.65rem;
    height: 0.65rem;
    margin: 0 0.3rem 0 0;
    overflow: hidden;
    cursor: pointer;

    @include sp {
      width: 0.65rem;
      height: 0.65rem;
      margin: 0 0.13rem;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &__button {
    color: #fff;
    font-size: .14rem;
    letter-spacing: .02rem;
    border: solid #fff 1px;
    padding: 0.15rem;
    margin: 0.5rem 0 0 0;
    transition: all .15s 0s linear;

    @include sp {
      color: #fff;
      font-size: .134rem;
      letter-spacing: .02rem;
      border: solid #fff 1px;
      padding: 0.15rem;
      margin: 0.57rem 0 0 0;
      transition: all .15s 0s linear;
    }

    &:hover {
      border: solid #9999 1px !important;
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }

  &__detail {
    transform: translate(calc(6.5rem - 50%), 0);
    position: relative;
    width: 4rem;

    @include sp {
      transform: none;
      position: relative;
      width: 100%;
    }

    &::before {
      content: '';
      height: 1px;
      width: 0.45rem;
      background: #fff;
      position: absolute;
      top: -0.4rem;
      left: 0;

      @include sp {
        display: none;
      }
    }

    &::after {
      content: '';
      height: 1px;
      width: 0.45rem;
      background: #fff;
      position: absolute;
      bottom: -0.1rem;
      left: 0;

      @include sp {
        content: '';
        height: 1px;
        width: 0.43rem;
        background: #fff;
        position: absolute;
        bottom: -0.24rem;
        left: 0;
      }
    }
  }

  &__detailText {
    color: #fff;
    font-size: .148rem;
    line-height: 1.75;

    @include sp {
      color: #fff;
      margin: 0.35rem 0 0 0;
      font-size: .13rem;
      line-height: 1.85;
      position: relative;
      letter-spacing: 0.01rem;
    }
  }
}